.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#artist-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1000px;
}

.artist-container {
  position: relative;
  display: flex;
  width: 190px;
  height: 190px;
  margin: 5px 5px 5px 5px;
  overflow: hidden;
  cursor: pointer;
}

.img-overlay:hover {
  background-color: rgb(0, 0, 0, 0);
}

.artist-name {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0, .5);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .1);
  z-index: 2;
}

.artist-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}